body, html {
    height: 100%;
    margin: 0;
}
.banner_img{
    background-image: url("../images/background/about-img.jpg");
    background-size: cover;
    min-height: 460px;
    border-radius: 0.8rem;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    justify-content: center;
    text-align: center;
    border-radius: 0.3rem;
}
.page-item.cur_pos .page-link {
    z-index: 1;
    color: #fff;
    background-color: #15a362;
    border-color: #15a362;
}