
<link rel="stylesheet" href="assets/css/form.css">
<link href = "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="testbox">
            <form action="/">
                <div class="banner">
                    <h1>Add new product</h1>
                </div>
                <div class="item">
                    <p>Name<span class="required">*</span></p>
                    <div class="name-item">
                        <input type="text" id="name" placeholder="Name of product" required/>
                        <input type="text" id="productId" placeholder="product ID" required/>
                    </div>
                </div>
                    <div class="item">
                        <p>Overview<span class="required">*</span></p>
                        <textarea id="overview" rows="3" cols="100"></textarea>
                    </div>
                <div class="position-item">
                    <div class="item">
                        <p>Rate<span class="required">*</span></p>
                        <select  id ="rate" required>
                            <option value="1">1*</option>
                            <option value="2">2*</option>
                            <option value="3">3*</option>
                            <option value="4">4*</option>
                            <option value="5">5*</option>
                        </select>
                    </div>
                    <div class="item">
                        <p>Sale<span class="required">*</span></p>
                        <input type="text" id="sale" required/>
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                </div>
                <div class="item">
                    <p>Description<span class="required">*</span></p>
                    <textarea id="description" rows="3" cols="100"></textarea>
                </div>

                <div class="item">
                    <p>Image:</p>
                    <input type="file" id="image" accept="image/*">
                </div>
                <div class="position-item">
                    <div class="item">
                        <p>Quantity<span class="required">*</span></p>
                        <input type="text" id="quantity" required/>
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                    <div class="item">
                        <p>Category ID<span class="required">*</span></p>
                        <input type="text" id="categoryId" required/>
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                </div>
                <div class="btn-block">
                    <button type="submit" href="/">Add</button>
                </div>
            </form>
        </div>

    </div>
</div>